.section-shaped .shape-danger {
    background: linear-gradient(87deg,#f5365c 0,#f56036 100%)
}

.section-shaped .shape-danger :nth-child(1) {
    background: rgba(255,255,255, 0.20);
}

.section-shaped .shape-danger :nth-child(2) {
    background: rgba(255,255,255, 0.20);
}

.section-shaped .shape-danger :nth-child(3) {
    background: rgba(255,255,255, 0.20);
}

.section-shaped .shape-danger :nth-child(4) {
    background: rgba(255,255,255, 0.20);
}

.section-shaped .shape-danger :nth-child(5) {
    background: rgba(255,255,255, 0.20);
}